@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Soma App</h1>
    
    <form method="get" action="/Home/Sum">
        <p>
            Valor 1: <input type="text" name="n1" />
        </p>

        <p>
            Valor 2: <input type="text" name="n2" />
        </p>

        <button id="sum">Somar</button>
    </form>
</div>